#container-box{
    display:flex;
    width:320px;
    height:200px;
    border:1px solid black;
    background-color: aqua;
    flex-direction: row-reverse;
    /* flex-direction: column-reverse; */
}
.box{
    width:80px;
    height:auto;
    border:1px solid black;
    margin:2px;
}
.box.nth-child(1),
 .box.nth-child(3){
    background-color: red;
   
}